body {
	margin: 0;
}

header {
	background-image: url("/img/ban.jpg");
	background-position: left;
	width: 100%;
	width: 100vw;
	height: 60px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

main p a {
	font-family: 'Open Sans';
	font-size: 15px;
}

main p {
	font-family: 'Open Sans';
	font-size: 15px;
}

.head {
	max-width: 800px;
	margin: 0 auto;
}

header h1 {
	font-family: 'PT Sans';
	font-weight: bold;
	color: white;
	margin-top: 0px;
	padding-top: 4px;
	font-size: 30pt;
	float: left;
	padding-left: 10px;
}

header a {
	font-family: 'Open Sans';
	color: white;
	font-size: 16pt;
	color: rgba(255, 255, 255, .7);
	margin-left: 20px;
}

@media screen and (max-width: 600px) {
	header a {
		margin-left: 10px;
	}
}

header a:hover {
	color: rgba(255, 255, 255, 1);
}

header nav {	
	float: right;
	text-align: right;
	padding-top: 18px;
	padding-right: 10px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

label.tracktable {
	font-family: 'PT Sans';
	font-weight: regular;
	color: rgba(153, 153, 153, 1);
	width: 100%;
	border-bottom: 1px solid rgba(153, 153, 204, 1);
}

ul.cList li {
	list-style-type: none;
	border-left: 2px solid rgba(255, 153, 102, .8);
	margin-bottom: 10px;
	margin-left: -30px;
	padding-left: 5px;
}

div.trackTitle {
	font-family: 'PT Sans';
	color: rgb(54, 54, 54);
	font-size: 20pt;	
	position: static;
}

div.trackTitle:hover {
	text-decoration: underline;
	cursor: pointer;
}

div.trackDesc {
	font-family: 'Open Sans';
	font-size: 11pt;
	position: static;
	color: rgba(102,102,102,1);
}

main h2 {
	font-family: 'Open Sans';
	color: rgb(54, 54, 54);
}

main h1 {
	font-family: 'Open sans';
	color: rgb(54, 54, 54);
	font-size: 45px;
}

main a {
	font-family: 'PT Sans';
	font-size: 25px;
	color: orange;
}

main a:hover {
	text-decoration: underline;
}

form.newTrackForm {
	font-family: 'Open Sans';
	color: rgb(54, 54, 54);
	margin-top: -10px;
}

form.newTrackForm input {
	-webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

input.topicForm {
	font-weight: bold;
	color: white;
	max-width: 500px;
	width: 80vw;
	padding: 6px 20px;
	font-size: 18pt;
	margin-left: 15px;
}

input.summaryForm {
	font-size: 11pt;
	max-width: 500px;
	width: 80vw;
	margin-top: 5px;
	padding: 6px 20px;
	margin-left: 15px;
}

input.topicForm.ng-valid {
	background-color: rgba(255, 153, 102, 1);
	border: none;
	margin: 2px;  /*Compensate for missing border*/
	margin-left: 17px;
}

form.newTrackForm label {
	color: rgb(54, 54, 54);
	margin-left: 15px;
}

form.newArticleForm textarea {
	width: 30%;
	margin-left: 50px;
	margin-top: 2px;
	resize: none;
	padding: 5px 5px;
}

@media screen and (min-width: 600px) {
	form.newArticleForm input {
		width: 30%;
		margin-right: 5px;
		padding: 5px 5px;
	}
}

@media screen and (max-width: 600px) {
	form.newArticleForm input {
		width: 80%;
		margin-top: -50px;
		padding: 5px 5px;
	}

	input.urlInput {
		margin-top: -20px;
		margin-left: 49px;
		margin-bottom: 15px;
	}

	form.newArticleForm textarea {
		width: 80.2%;
		margin-top: -10px;
	}
}


form dl {
	font-size: 18px;
}

form dd {
	margin-left: 5px;
	font-size: 12pt;
	border-bottom: 2px solid rgba(105, 105, 105, .3);
}

form button {
	font-size: 15px;
	margin: 10px;
}

/*button.submitButton {
	display: inline-block;
	padding: 5px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;	
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
}

button.submitButton:active {

}*/

div.viewer dt {
	font-family: 'PT Sans';
	font-color: white;
	font-size: 40px;
}

article.item a {
	font-size: 40px;
	color: orange;
}

@media screen and (max-width: 600px) {
	article.item a {
		font-size: 30px;
		line-height: 0;
	}

	div.viewer dd {
		font-size: 17px;
	}
}

div.viewer dd {
	font-family: 'Open Sans';
	font-size: 23px;
	margin-left: 10px;
	color: black;
}

div.viewer dd:hover {
	text-decoration: none !important;
}

div.viewer article {
	background-color: rgba(221,200,191,.2);
	margin-bottom: 10px;
	padding: 15px 20px 20px 30px;
	border-bottom: 4px solid rgba(54, 54, 54, .1);
}

div.viewer article:active {
	-webkit-transform: translate(0px, 4px);
    -moz-transform: translate(0px, 4px);
    -o-transform: translate(0px, 4px);
    -ms-transform: translate(0px, 4px);
    transform: translate(0px, 4px);
    border-bottom: none;
    margin-bottom: 14px;
}

div.viewer a:hover {
	text-decoration: none;
}

div.viewer dl {
	border-bottom: none;
}

footer a {
	font-size: 16px;
	text-align: right;
	opacity: .6;
}

footer a:hover {
	opacity: 1;
}

footer {
	margin-top: 100px;
}

