<h3>New cTrack</h3>
<form (ngSubmit)="pushTrack()" #newTrackForm="ngForm" class="newTrackForm">
	<table>

		<tr>
			<td>Topic: </td> 
			<td><input type="text" size="30" maxlength="45" [(ngModel)]="topic" required/></td>
		</tr>

		<tr>
			<td>Summary: </td>
			<td><textarea type="text" rows="1" cols="32" [(ngModel)]="description" required></textarea></td>
		</tr>
	</table>
	<br/>
	<table>
		<tr>
			<td><label>Add links:</label></td>
			<td></td>
		</tr>

		<form (ngSubmit)="addArticle()" #newItemForm="ngForm">

		<tr>
			<td><button type="submit" [disabled]="!newItemForm.form.valid">+</button></td>
			<td><input type="text" size="25" [(ngModel)]="title" placeholder="Title" required/></td>
		</tr>

		<tr>
			<td></td>
			<td><input type="url" size="25" class="urlInput" [(ngModel)]="url" placeholder="url" required/></td>
		</tr>

		<tr>
			<td></td>
			<td><textarea type="text" rows="2" cols="27" [(ngModel)]="comment" placeholder="Description"></textarea></td>
		</tr>


		</form>

	</table>
	<label *ngIf="saving" class="fadeout">{{saveMessage}}</label><br/>
	<button type="button" (click)="saveTrack()">Save</button>
	<button type="button" (click)="clear()">Clear</button>
	<button type="submit">Create track</button>
</form>
<br/>
<hr/>
<br/>
<strong>Preview:</strong>
<h3>{{topic}}</h3>
<dl>
	<article *ngFor="#item of items">
        <dt [hidden]="isEditable(item)">
		<button type="button" (click)="removeItem(item)">×</button>
		<a href="{{item.url}}" target="_blank">{{item.title}}</a> <a (click)="toggleEdit(item)" style="font-size: 10px;">[edit]</a>
		</dt>
		<dd (dblclick)="toggleEdit(item)" [hidden]="isEditable(item)">
            {{item.comment}}
        </dd>
        <form (ngSubmit)="toggleEdit(item)" [hidden]="!isEditable(item)">
            <table style="margin-top: -1px; border-spacing: 0;">
                <tr>
                    <td><button type="button" (click)="removeItem(item)" style="margin: -1px 0 0 -1px">×</button></td>
                    <td><input type="text" size="25" [(ngModel)]="item.title" placeholder="Title" required/></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="url" size="25" class="urlInput" [(ngModel)]="item.url" placeholder="url" required/></td>
                </tr>

                <tr>
                    <td><button type="submit" style="margin-left: -2px; width: 24px;">✓</button></td>
                    <td><textarea type="text" rows="2" cols="27" [(ngModel)]="item.comment" placeholder="Description"></textarea></td>
                </tr>
            </table>
        </form>
	</article>
</dl>
